@inject IJSRuntime JsRuntime

<modal-title class="@(_isModalMinimized ? "collapsed" : "")">
    <h4>@Title</h4>
    <AmpLink OnClick="ToggleMinimizeRestore"
             Title="@(_isModalMinimized ? "Restore" : "Minimize")"
             class="modal-collapse">
        @if (_isModalMinimized)
        {
            <span class="material-symbols-outlined">arrow_upward</span>
        }
        else
        {
            <span class="material-symbols-outlined">arrow_downward</span>
        }
    </AmpLink>
    <AmpHelpButton Show="@ShowHelp" HelpStateNameOverride="@HelpStateNameOverride"/>
</modal-title>

@code {
    [Parameter] public string? HelpStateNameOverride { get; set; }
    [Parameter] public bool ShowHelp { get; set; } = true;
    [Parameter] public string? Title { get; set; }

    bool _isModalMinimized = false;

    private async Task ToggleMinimizeRestore()
    {
        _isModalMinimized = !_isModalMinimized;
        if (_isModalMinimized)
            await JsRuntime.InvokeVoidAsync("collapseModal");
        else
            await JsRuntime.InvokeVoidAsync("restoreModal");
    }

}