@* @page "/todo/search" *@
@* @implements IDisposable *@
@* @inject TodoSearchSimpleService TodoSearchSimpleService *@
@* @inject TodoSearchAdvancedService TodoSearchAdvancedService *@
@* @inject LoggedInUserService LoggedInUserService *@
@* *@
@* <AmpPageTitle Title="Case Search"/> *@
@* *@
@* <search-page> *@
@* *@
@*     $1$ @if (LoggedInUserService.IsCaseSearchSimple) #1# *@
@*     $1$ { #1# *@
@*     $1$ <EditForm Model="TodoSearchSimpleService.Criteria" OnValidSubmit="TodoSearchSimpleService.LoadRowsAsync"> #1# *@
@*     $1$     <grid-criteria> #1# *@
@*     $1$         <AmpInputText @bind-Value="TodoSearchSimpleService.Criteria.Text" SetFocus=@true placeholder="LastName, FirstName" class="right-side-squared"/> #1# *@
@*     $1$         <button type="submit" class="left-side-squared">Search</button> #1# *@
@*     $1$ #1# *@
@*     $1$         <AmpLink Text="Advanced Search >>" #1# *@
@*     $1$                  OnClick="@(() => LoggedInUserService.IsCaseSearchSimple = !LoggedInUserService.IsCaseSearchSimple)" #1# *@
@*     $1$                  class="advanced-search"/> #1# *@
@*     $1$     </grid-criteria> #1# *@
@*     $1$ </EditForm> #1# *@
@*     $1$ } #1# *@
@*     $1$ else #1# *@
@*     $1$ { #1# *@
@*     $1$ <EditForm Model="TodoSearchAdvancedService.Criteria" OnValidSubmit="TodoSearchAdvancedService.LoadRowsAsync"> #1# *@
@*     $1$     <grid-criteria class="multiple-rows"> #1# *@
@*     $1$         <two-column-grid> #1# *@
@*     $1$             <AmpInputText @bind-Value="TodoSearchAdvancedService.Criteria.Title" #1# *@
@*     $1$                           Label="Title" #1# *@
@*     $1$                           SetFocus=@true/> #1# *@
@*     $1$             <AmpInputText @bind-Value="TodoSearchAdvancedService.Criteria.Description" #1# *@
@*     $1$                           Label="Description"/> #1# *@
@*     $1$             <div></div> #1# *@
@*     $1$             <div> #1# *@
@*     $1$                 <AmpInputSelect @bind-Value="@TodoSearchAdvancedService.Criteria.IsCompleted" #1# *@
@*     $1$                                 Label="IsCompleted" #1# *@
@*     $1$                                 For="@(() => TodoSearchAdvancedService.Criteria.IsCompleted)"/> #1# *@
@*     $1$             </div> #1# *@
@*     $1$         </two-column-grid> #1# *@
@*     $1$         <one-column-grid> #1# *@
@*     $1$             <button type="submit">Search</button> #1# *@
@*     $1$             <span> #1# *@
@*     $1$                     <button type="button" #1# *@
@*     $1$                             @onclick="CurrentService.ClearAllCriteria" #1# *@
@*     $1$                             class="right-side-squared"> #1# *@
@*     $1$                         Clear Search #1# *@
@*     $1$                     </button> #1# *@
@*     $1$                     <button type="button" #1# *@
@*     $1$                             @onclick="@(() => _showClearSearchMenu = !_showClearSearchMenu)" #1# *@
@*     $1$                             @onblur="@(() => _showClearSearchMenu = false)" #1# *@
@*     $1$                             class="drop-down-appendment"> #1# *@
@*     $1$                     </button> #1# *@
@*     $1$                     <dropdown-menu class="@(_showClearSearchMenu ? "set-search-defaults" : "hide")"> #1# *@
@*     $1$                         <dropdown-menu-item @onmousedown="CurrentService.SetCriteriaToDefault"> #1# *@
@*     $1$                             Set Defaults #1# *@
@*     $1$                         </dropdown-menu-item> #1# *@
@*     $1$                     </dropdown-menu> #1# *@
@*     $1$                 </span> #1# *@
@*     $1$ #1# *@
@*     $1$             <AmpLink Text="Simple Search >>" #1# *@
@*     $1$                      OnClick="@(() => LoggedInUserService.IsCaseSearchSimple = !LoggedInUserService.IsCaseSearchSimple)" #1# *@
@*     $1$                      class="center m-t-4"/> #1# *@
@*     $1$         </one-column-grid> #1# *@
@*     $1$     </grid-criteria> #1# *@
@*     $1$ </EditForm> #1# *@
@*     $1$ } #1# *@
@* *@
@* </search-page> *@
@* *@
@* *@
@* @if (CurrentService.Rows is null) *@
@* { *@
@*     <p>Loading...</p> *@
@* } *@
@* else if (CurrentService.Rows!.Count == 0) *@
@* { *@
@*     <p>No todos found.</p> *@
@* } *@
@* else *@
@* { *@
@*     <ul> *@
@*         @foreach (var todo in CurrentService.Rows) *@
@*         { *@
@*             <li> *@
@*                 <input type="checkbox" disabled checked="@todo.IsCompleted"/> *@
@*                 <b>@todo.Title</b> *@
@*                 @if (!string.IsNullOrWhiteSpace(todo.Description)) *@
@*                 { *@
@*                     <span> — @todo.Description</span> *@
@*                 } *@
@*             </li> *@
@*         } *@
@*     </ul> *@
@* } *@
@* *@
@* *@
@* @code { *@
@*     private bool _showClearSearchMenu; *@
@* *@
@*     private TodoSearchService CurrentService *@
@*         => LoggedInUserService.IsCaseSearchSimple *@
@*             ? TodoSearchSimpleService *@
@*             : TodoSearchAdvancedService; *@
@* *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         CurrentService.OnChange += (sender, args) => StateHasChanged(); *@
@*         await CurrentService.LoadRowsAsync(); *@
@*     } *@
@* *@
@*     public void Dispose() *@
@*     { *@
@*         CurrentService.OnChange -= (_, _) => StateHasChanged(); *@
@*     } *@
@* *@
@* } *@