@if (!Show) return;

@if (NavigateTo is not null)
{
    <a href="@NavigateTo"
       @attributes="@AdditionalAttributes"
       title="@(Title ?? "")">
        @(ChildContent) @(Text)
    </a>
}
else if (OnClick.HasDelegate)
{
    <a @onclick:preventDefault="@PreventDefault"
       @onclick:stopPropagation="@StopPropagation"
       @ondblclick:stopPropagation="@StopPropagation"
       @attributes="@AdditionalAttributes"
       @onclick="OnClick"
       title="@(Title ?? "")">
        @(ChildContent)@(Text)
    </a>
}
else
{
    <span></span>
}

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new();

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string? NavigateTo { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public string? Title { get; set; } = string.Empty;
    [Parameter] public bool PreventDefault { get; set; } = true;
    [Parameter] public bool StopPropagation { get; set; } = true;
    [Parameter] public bool Show { get; set; } = true;
}