<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo App</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/theme.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/base.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/google-material-symbols.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/blazor.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/mixins/margin-padding.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/mixins/heights.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/mixins/widths.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/main-layout.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/help-layout.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/busy-indicator.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/amp-nav.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/amp-grid.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/search-page.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/view-page.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/page-title.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/amp-tabs.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/file-upload.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/report.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/app-specific.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/modal.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/alert.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/code-table-page.css"]'/>
    <link rel="stylesheet" href='@Assets["_content/Zamp.Client/css/app/quill.css"]'/>

    <ImportMap/>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <HeadOutlet @rendermode="InteractiveWebAssembly"/>
</head>

<body>
<script src='@Assets["_content/Zamp.Client/js/filter-integer-input.js"]'></script>
<script src='@Assets["_content/Zamp.Client/js/app-help.js"]'></script>
<script src='@Assets["_content/Zamp.Client/js/app-report.js"]'></script>
<script src='@Assets["_content/Zamp.Client/js/local-timezone.js"]'></script>
<script src='@Assets["_content/Zamp.Client/js/azure-storage.bundle.js"]'></script>
<script src='@Assets["_content/Zamp.Client/js/deselect-all-text.js"]'></script>

<Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)"/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>
